<footer class="w-full flex flex-col sm:flex-row sm:justify-center text-lg tracking-wide px-4 sm:px-0 py-16">
  <div class="text-center pr-0 sm:pr-8 py-4">
    <ul class="list-none">
      {% for item in site.social %}
        <li>
          <a class="text-gray-800 hover:text-purple-600 no-underline" href="{{ item.url }}" target="_blank" rel="_noopener">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="h-px sm:h-auto w-1/2 sm:w-px bg-purple-600 mx-auto sm:mx-0"></div>
  <div class="text-center px-8 py-4">
    <ul class="list-none">
      <li>
        <a class="text-gray-800 hover:text-purple-600 no-underline" href="/anita">About Anita</a>
      </li>
      <li>
        <a class="text-gray-800 hover:text-purple-600 no-underline" href="/office">Our Office</a>
      </li>
    </ul>
  </div>
  <div class="h-px sm:h-auto w-1/2 sm:w-px bg-purple-600 mx-auto sm:mx-0"></div>
  <div class="text-center pl-0 sm:pl-8 py-4">
    <ul class="list-none">
      <li>
        <a class="text-gray-800 hover:text-purple-600 no-underline" href="/privacy">Privacy Policy</a>
      </li>
      <li>
        <a class="text-gray-800 hover:text-purple-600 no-underline" href="/tos">Terms of Service</a>
      </li>
    </ul>
  </div>
</footer>
<div class="w-full">
  <span class="block text-center text-gray-800 text-sm font-light">
    &copy; Groundworks Therapeutic Massage
  </span>
</div>
<div class="">
  <a id="btt"
    class="hidden fixed bottom-0 right-0 mb-4 mr-4 text-gray-200 border border-purple-600 hover:bg-gray-200 hover:text-purple-600 hover:border-browngray no-underline px-6 py-1 bg-purple-600 shadow-md"
    href="#top" title="Back to Top">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
      <title>Back to Top</title>
      <path fill-rule="evenodd" d="M4.293 15.707a1 1 0 010-1.414l5-5a1 1 0 011.414 0l5 5a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414 0zm0-6a1 1 0 010-1.414l5-5a1 1 0 011.414 0l5 5a1 1 0 01-1.414 1.414L10 5.414 5.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
    </svg>
    </a>
</div>
<div class="fixed bottom-0 left-0 m-6">
  <a href="https://www.fresha.com/book-now/groundworks-massage-therapy-llc-yhexhm89/all-offer?id=691084&pId=648797"
    target="_blank"
    rel="noopener"
    title="Schedule a Massage"
    class="block rounded-full text-black bg-xlightgreen hover:bg-white hover:text-black shadow-md
    p-4 mb-2
    ">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
  <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
</svg>
  </a>
</div>
<!-- "Follow" Tooltip template -->
<template id="followTip">
  {% for item in site.social %}
    <a href="{{ item.url }}"
      class="inline-block text-gray-200 text-sm bg-purple-600 shadow-md hover:bg-gray-200 hover:text-gray-800 no-underline p-1 px-4 mx-2 my-1"
      target="_blank" rel="noopener">{{ item.title }}</a>
  {% endfor %}
</template>
