{% for item in collections.sections %}
  {% if item.data.type === 'contact' %}

    <div id="contact" class="flex-root bg-xdarkgreen py-16">

      <div class="self-center w-full xl:w-4/5 flex flex-col sm:flex-row flex-wrap justify-center px-4 xl:px:0">

        <div class="card-area w-full lg:w-1/2 flex flex-row flex-no-wrap hover:shadow-lg hover:bg-blue-800 hover:bg-opacity-50 px-4 sm:px-8 py-6 sm:py-12">
          <div class="card h-64 max-w-full w-full lg:flex js-show-on-scroll">
            <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('/img/contact-us-phone.jpg')" title="Contact Us">
            </div>
            <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t
            lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col
            justify-between leading-normal w-full">
              <div class="mb-8">
                <div class="text-gray-900 font-bold text-xl mb-2">{{ item.data.scheduleTitle | safe }}</div>
                <p class="text-gray-700 text-base">
                  {{ item.templateContent | safe }}
                </p>
                <div class="flex flex-row w-full justify-center pt-6">
                  <a class="px-10 py-2 text-xwhite bg-xorange rounded-full shadow-md text-lg hover:bg-gray-800 hover:border-red"
                  href="https://docs.google.com/forms/d/e/1FAIpQLSfIIOi8f8Zq7Gu6R4zGU9KRSbyqmqox0jRRqF7soA6rIu9Kzw/viewform?usp=sf_link"
                  target="_blank">Contact us for Scheduling</a>
                </div>
              </div>
            </div><!-- .card-right -->
          </div><!-- .card -->
        </div><!-- .card-area -->
        <!-- disabled contact details card -->
      </div> <!-- .card-row -->
    </div> <!-- #contact -->
  {% endif %}
{% endfor %}
