<div class="flex flex-col justify-center h-full py-12">
  <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
    <div class="w-full text-center sm:text-left sm:w-1/2 py-12 sm:px-8">
      <h1 class="tracking-wide text-2xl mb-6">Groundworks Massage Therapy, LLC</h1>
      <p class="font-bold tracking-widest text-4xl mb-6">
        Cultivating a healthy you from the ground up.
      </p>
      <blockquote class="relative text-grey-700 text-center p-10 w-full m-1">
I believe massage should be accessible to all people, not just those with a comfortable salary.  I want to give back to my community through discounts &/or sliding scale payment options, especially for seniors and “essential” workers. I want to help improve the quality of daily life through pain reduction and increased freedom of movement.  I want to work with anyone ready to take control of the work that needs to be done to accomplish these goals.
<cite class="text-xred"> - Anita Blount, LMT, PharmD</cite>
</blockquote>
    </div>
    <div class="w-full sm:w-1/2">
      <img src="/img/deep-tissue-massage.jpg" alt="Deep Tissue Massage">
    </div>
  </div>
</div>
<div class="flex flex-row w-full justify-center pb-12">
  <a class="px-10 py-2 text-gray-200 bg-purple-600 rounded-full shadow-md text-lg hover:bg-gray-800 hover:border-red"
    href="#about">More Information</a>
</div>
